name: Test Assume IAM Role Action
run-name: ${{ github.actor }} is testing IAM role
on: [pull_request]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::530354880605:role/common-yashrajdighe-git-repo-backup-20251020210229788000000001
          role-session-name: GitHubActionsSession
      - name: Verify AWS Identity
        run: aws sts get-caller-identity
