name: Backup All Github Repositories
run-name: Backup All Github Repositories
on:
  schedule:
    - cron: "0 0 * * *" # Runs daily at 12 AM UTC
  workflow_dispatch:
permissions:
  id-token: write
  contents: write
  pull-requests: write
jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Generate matrix of repositories
        id: set-matrix
        run: |
          repos=$(gh repo list yashrajdighe --limit 1000 --json nameWithOwner,isFork --jq '.[] | select(.isFork == false) | .nameWithOwner')
          matrix=$(jq -n --arg repos "$repos" '{"include": ($repos | split("\n") | map(select(length > 0) | {repository: .}))}')
          echo "Matrix: $matrix"
          matrix_escaped=$(echo "$matrix" | jq -c .)
          echo "matrix=${matrix_escaped}" >> $GITHUB_OUTPUT
  generate-backup:
    name: Generate Backup for ${{ matrix.repository }} repository
    needs: [generate-matrix]
    environment: main
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub App Token
        id: create-gh-app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_KEY }}
          owner: yashrajdighe
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::530354880605:role/common-yashrajdighe-git-repo-backup-20251020210229788000000001
          role-session-name: GitHubActionsSession
      - name: Backup GitHub Repository ${{ matrix.repository }}
        uses: yashrajdighe/gh-actions/backup-github-repo@main
        with:
          token: ${{ steps.create-gh-app-token.outputs.token }}
          repository: ${{ matrix.repository }}
